:root {
    --light-blue: rgb(107, 107, 202);
    --dark-gray: rgb(192, 188, 188);
}

header{

}

main {
    display: flex;
}

.card {
    
}




/* use CSS variables for the color
use flexbox and media queries for a responsive grid
user select property will highlight each css snippet
a background color must have the linear gradient function
css transition property needed to add animation

cut off points- 992px (three wide), 768px (two wide), under that it's one card per row */